body {
  background-color: #FAE4B5;
  margin: 0;
  margin-top: -16px;
  height: 100vh;
}

.header-container {
  display: flex;
  align-items: center;  /* Align items vertically in the center */
  justify-content: center;  /* Centers the h1 text, but we will override for NavButton */
  position: relative;
}

h1 {
  background-color: #448BC3;
  flex-grow: 1; /* This makes the h1 text take up available space */
  text-align: center; /* Center the text inside the h1 */
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  background-color: #77aad2;
  margin-top: -16px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu-container {
  position: absolute;
  left: 10px;
}

.dropdown-button {
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 41px; 
    left: -10px;
    right: 0; 
    bottom: 0;
    background-color: #255C99;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    z-index: 1000;
    overflow-y: auto;
    min-height: 1000px;
  }
  
  .dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }
  
  .dropdown-menu li {
    color: white;
    padding: 10px;
    border-bottom: 1px solid #255C99;
    cursor: pointer;
    
  }

  .dropdown-menu li a {
    display: inline-block;
    color: #255C99;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown-menu li:hover {
    background-color: #7EA3CC;
  }

  .modules_container {
    display: flex; /* Flexbox for centering */
    justify-content: center; /* Center the grid container horizontally */
    width: 100%;
    padding-bottom: 20px;
}

  .module_grid{
    display: grid;
    grid-template-columns: repeat(3, 150px); 
    gap: 20px;
  }

  .module_button {
    background-color: #255C99;
    text-align: center;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .module_button:hover {
    background-color: #7EA3CC;
}

.section_container {
  display: flex; 
  justify-content: center; 
  width: 100%;
}

.section_grid{
  display: grid;
  grid-template-columns: repeat(1, 150px); 
  gap: 20px;
}

.section_button {
  background-color: #255C99;
  text-align: center;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_button:hover {
  background-color: #7EA3CC;
}

.banner {
  display: flex;
  justify-content: center; 
  padding: 0px; 
}

.banner img {
  width: 100%; 
  max-width: 750px; 
  height: auto; 
  object-fit: cover; 
}